*.egg-info
*.pot
*.py[co]
.vscode/
.tox/
.DS_Store
.idea/
.env/
.env
/**/**/temp.py

__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
build/
tests/report/
env/
temp.py
media/
/static/
/credentials/*.*
pl4n3t.log

assets/webpack_bundles/
webpack-*-stats.json

!media/.keep
!static/.keep
!credentials/.keep
