{% load i18n static main_tags %}
<div class="container-fluid footer mt-auto">
  <div class="row d-flex flex-column">
    <div class="row d-flex justify-content-center align-content-center">

      <div class="col-md-4 col-xs-12 d-flex flex-column text-center text-lg-start">
        <h5 class="m-0">{% site_settings 'SITE_URL' %}</h5>
        <p class="m-0">{% translate 'Address' %}: {% site_settings 'COMPANY_ADDRESS' %} </p>
        <p class="m-0">{% translate 'Phones' %}: {% site_settings 'COMPANY_PHONE_NUMBERS' %}</p>
        <p class="m-0 ">{% translate 'Email' %}: <strong><a class="text-white"
          href="mailto:{% site_settings 'COMPANY_EMAIL_ADDRESS' %}">
          {% site_settings 'COMPANY_EMAIL_ADDRESS' %}</a></strong></p>
        <p class="m-0">{% translate 'Copyright' %} © 2023 {% site_settings 'SITE_URL' %}
          - {% translate 'All rights reserved' %}.</p>
      </div>

      <div class="col-md-4 col-xs-12 d-flex align-items-center justify-content-center footer-social-links p-3 mt-sm-3">
        <a class="text-decoration-none text-white" href="{% site_settings 'COMPANY_FACEBOOK_URL' %}">
          <i class="fa fa-facebook-square fa-3x flex-gap"></i>
        </a>
        <a class="text-decoration-none text-white" href="{% site_settings 'COMPANY_INSTAGRAM_URL' %}">
          <i class="fa fa-instagram fa-3x flex-gap"></i>
        </a>
        <a class="text-decoration-none text-white" href="{% site_settings 'COMPANY_LINKEDIN_URL' %}">
          <i class="fa fa-linkedin-square fa-3x flex-gap"></i>
        </a>
        <a class="text-decoration-none text-white" href="{% site_settings 'COMPANY_TWITTER_URL' %}">
          <i class="fa fa-twitter-square fa-3x flex-gap"></i>
        </a>
      </div>

      <div class="col-md-4 col-xs-12 d-flex align-items-center justify-content-lg-end justify-content-center text-center mt-sm-3">
        {% translate 'Powered by' %} Jobul
      </div>
    </div>

    <div class="row col-lg-12 d-flex text-center align-items-center pt-2">
      <h5>{% translate 'Privacy policy' %}</h5>
    </div>
  </div>
</div>
