{% load static i18n main_tags %}
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/logo.webp' %}" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% active_link 'home' %}" aria-current="page"
             href="{% url 'home' %}">{% translate 'Home' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% active_link 'company' %}" aria-current="page"
             href="{% url 'company' %}">{% translate 'The Company' %}</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle {% active_link 'why-quantify || water-footprint || carbon-footprint || plastic-footprint' %}"
            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% translate 'Quantify' %}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'why-quantify' %}">{% translate 'Why Quantify' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'footprint-levels' %}">{% translate 'Footprint Levels' %}</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'carbon-footprint' %}">{% translate 'Carbon footprint' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'plastic-footprint' %}">{% translate 'Plastic footprint' %}</a>
            </li>
            <li><a class="dropdown-item" href="{% url 'water-footprint' %}">{% translate 'Water footprint' %}</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link {% active_link 'contact-us' %}" aria-current="page"
             href="{% url 'contact-us' %}">{% translate 'Contact us' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% active_link 'blog' %}" aria-current="page"
             href="{% url 'blog' %}">{% translate 'Blog' %}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
