$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray-text: rgb(94, 94, 94);
$primary: #3295ed;
$secondary: #ADADAD;
$btn-font-size: 40px;
$navbar-dark-active-color: $white;
$container-padding-x: 1.5rem;

