{% load static %}
{% load render_bundle from webpack_loader %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block page_title %}{% endblock page_title %}</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
  {% render_bundle 'modules' %}
  {% render_bundle 'vendor' 'css' %}
  {% render_bundle 'app' 'css' %}
</head>
<body class="d-flex flex-column min-vh-100">
{% include 'includes/header.html' %}
{% block content %}{% endblock %}
{% include 'includes/footer.html' %}
{% render_bundle 'vendor' 'js' %}
{% render_bundle 'app' 'js' %}
</body>
</html>
