{% extends 'base.html' %}
{% load static i18n %}

{% block page_title %}{% translate 'Company' %}{% endblock page_title %}

{% block content %}
  <div class="container-fluid company">
    <div class="row hero">
      <div class="container d-flex justify-content-center flex-column w-50">
        <h1>
          {% blocktrans %}
            "Quantifying it helps us to be aware of our impact and take concrete steps to live more sustainably and
            protect our home."
          {% endblocktrans %}
        </h1>
      </div>
    </div>

    <div class="container pt-5">
      <div class="row d-flex justify-content-center">
        <div class="d-flex text-center w-50 flex-column">
          <h2>{% translate 'About us' %}</h2>
          <span class="text-gray">
        {% blocktrans %}
          We are a company that quantifies corporate footprints (carbon, water and plastic footprints), which serve as a
          basis for communicating the company's performance in relation to climate change with all stakeholders
          (suppliers, customers, investors, government and others).
        {% endblocktrans %}
      </span>
        </div>
      </div>
    </div>

    <div class="container pt-5">
      <div class="row d-flex">
        <h2 class="m-3">{% translate 'Our Strategies' %}</h2>
        <hr class="hr1">
        <div class="row my-5 text-gray">
          <div class="col-12 col-md-6 mb-4">
            <h4>{% translate 'MISSION' %}</h4>
            <span>
              {% blocktrans %}
                We provide solutions to mitigate the corporate footprint which are Carbon, Water and Plastic Footprint.
              {% endblocktrans %}
            </span>
          </div>
          <div class="col-12 col-md-6 mb-4">
            <h4>{% translate 'VISION' %}</h4>
            <span>
              {% blocktrans %}
                By 2030 we will be recognized in Latin America for our impact on mitigating climate change at the
                corporate level.
              {% endblocktrans %}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="container p-5">
      <h2 class="text-center">
        {% blocktrans %}
          With Pl4N3T, it assists in the transition to a low-carbon economy through sustainable tools that help to
          reduce the carbon footprint of the economy.
        {% endblocktrans %}
      </h2>
    </div>

    <div class="container p-5">
      <div class="row">
        <h2 class="m-3">{% translate 'Our History' %}</h2>
        <hr class="hr1 mb-4">
        <div class="text-gray">
          <p>
            {% blocktrans %}
              Pl4n3t is a brand that emerged in 2021 as a result of tax reforms that opened an opportunity to generate
              income in the environmental area. It was then when environmental projects began to emerge in collaboration
              with international organizations, focused on the quantification of removals, specifically carbon
              sequestration.
            {% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}
              With the objective of the need to comply with the agreements of the Montreal Treaty and the Colombian and
              international regulations, which require the quantification of emissions and compensation through verified
              carbon certificates. To expand its market, Amanecer en el palmar through the Pl4n3t brand decided to
              participate in 2022, in an innovation project called "SENAInnova Productividad para las Empresas 2.0"
              supported by SENAInnova - Productividad para las empresas which is a project between SENA and Colombia
              Productiva, which is an entity of the Ministry of Industry and Tourism. The objective was to formulate a
              project to quantify the greenhouse gas (GHG) emissions of companies.
            {% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}
              In the year 2022, the company Amanecer en el Palmar under the brand Pl4n3t began to offer and perform
              greenhouse gas (GHG) emissions quantification services to companies, events, organizations and products.
              Finally in mid-November 2022, Amanecer en el Palmar were selected in the innovation project, which led to
              the creation of a technological platform for quantifying the corporate footprint (Carbon, Plastic and
              Hydric).
            {% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}
              In summary, Pl4n3t is a brand that was born from the company Amanecer en el Palmar, with the objective of
              taking advantage of the opportunities of the environmental market, with a focus on the quantification of
              GHG
              emissions. Its collaboration with Amanecer en el Palmar and its technological platform demonstrate its
              commitment to sustainability and environmental care.
            {% endblocktrans %}
          </p>
        </div>
      </div>
    </div>

    <div class="container p-5">
      <div class="row d-flex justify-content-center">
        <h2 class="m-3">{% translate 'Support us' %}</h2>
        <hr class="hr1 mb-4">
        <div class="text-gray text-center support-us">

          <div class="col-12 col-md-6 m-auto">
            <h2 class="m-3">{% translate 'MinComercio' %}</h2>
            <p>
              {% blocktrans %}
                It supports business activity, the production of goods, services and technology, as well as tourism
                management in the country's regions to improve their competitiveness and sustainability and encourage
                the
                generation of greater added value.
              {% endblocktrans %}
            </p>
          </div>
          <div class="col-12 col-md-6  m-auto">
            <h2 class="m-3">{% translate 'Colombia Productiva' %}</h2>
            <p>
              {% blocktrans %}
                It supports the country's companies through calls for proposals and programs that enable them to improve
                indicators that are important for increasing efficiency in production processes, such as quality, human
                capital and productivity.
                Other services offered include technical assistance, intervention and support for companies to adopt
                international production improvement methodologies, specialized training programs in partnership with
                companies and educational institutions, guidance and financing to obtain certifications as a requirement
                for entry into international markets, among others.
              {% endblocktrans %}
            </p>
          </div>
          <div class="col-12 col-md-6 m-auto">
            <h2 class="m-3">{% translate 'SENA' %}</h2>
            <p>
              {% blocktrans %}
                It is responsible for fulfilling the State's duty to invest in the social and technical development of
                Colombian workers, offering and implementing comprehensive vocational training for the incorporation and
                development of people in productive activities that contribute to the social, economic and technological
                development of the country.
              {% endblocktrans %}
            </p>
          </div>
          <div class="col-12 col-md-6 m-auto">
            <h2 class="m-3">{% translate 'Cataruben' %}</h2>
            <p>
              {% blocktrans %}
                It develops nature-based climate solutions to conserve biodiversity, water and strategic ecosystems in
                this region. Cataruben also has a Research, Technological Development and Innovation Department (R&D&I)
                that generates knowledge on carbon offsets.

                Its main services are the development of specialized consultancies in climate change mitigation, the
                quantification of GHG reductions and/or removals in the AFOLU sector and the development of
                technological
                solutions aimed at improving the life cycle processes of climate change mitigation projects. .
              {% endblocktrans %}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}
